/* Серый цвет заголовка */
$header_gray:#222222;
/** Розовый фон под мужиком */
$promo_pink:#F1E4E6;
/** Розовый текст */
$pink_text:#f16d7f;

/** Google-шрифт Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  height: 75px;
  background: $header_gray;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .main_menu {
    max-width: 1100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .main_menu_left_buttons {
      a {
        margin-right: 41px;
      }
    }

    .main_menu_right_buttons {
      a {
        margin-left: 33px;
      }
    }
  }
}

.promo {
  background: $promo_pink;
  display: flex;
  flex-direction: row;
  font-weight: 900;

  .promo_image {
    width: 50%;

    img {
      width: 100%;
    }
  }

  .promo_block {
    .promo_text {
      /** розовая вертикальная линия */
      border-left: 12px $pink_text solid;
      padding-left: 16px;
      margin-top: 45%;

      color: $header_gray;

      .promo_header {
        font-size: 48px;
      }

      .promo_description {
        font-size: 32px;
      }

      .promo_colored {
        color: $pink_text;
      }
    }
  }
}