@charset "UTF-8";
/** Google-шрифт Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital;wght@300;400;900&display=swap");
/* Серый цвет заголовка */
/** Серый цвет подзаголовка */
/** Розовый фон под мужиком */
/** Розовый текст */
/** Тёмно-серый цвет подвала */
* {
  margin: 0;
  padding: 0; }

.box {
  position: relative;
  overflow: hidden; }

a {
  text-decoration: none; }

body {
  font-family: 'Lato', sans-serif; }

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px); }

.header {
  height: 75px;
  background: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  .header .main_menu {
    max-width: 1100px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .header .main_menu .main_menu_left_buttons a {
      margin-right: 41px; }
    .header .main_menu .main_menu_right_buttons .main-menu-spacing {
      margin-left: 33px; }

.notifiable {
  position: relative;
  width: 32px;
  display: inline-block;
  margin-left: 32px;
  margin-right: 16px; }
  .notifiable a {
    margin-left: 0px; }

.event_notification {
  background: #f16d7f;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 0;
  right: -5px;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 12px; }

.main-menu-block {
  background: white;
  position: absolute;
  right: -250px;
  top: 75px;
  transition: right 1s;
  padding: 35px;
  height: 768px;
  box-sizing: border-box;
  -webkit-box-shadow: -18px 10px 36px 0px #b3b3b3;
  -moz-box-shadow: -18px 10px 36px 0px #b3b3b3;
  box-shadow: -18px 10px 36px 0px #b3b3b3; }
  .main-menu-block, .main-menu-block .main-menu-entries {
    display: flex;
    flex-direction: column;
    gap: 12px; }
  .main-menu-block .main-menu-category {
    font-weight: 400;
    font-size: 14px;
    color: #f16d7f;
    text-transform: uppercase; }
  .main-menu-block .main-menu-entries {
    list-style-type: none; }
    .main-menu-block .main-menu-entries li, .main-menu-block .main-menu-entries a {
      margin-left: 20px;
      color: #6F6E6E; }
  .main-menu-block .main-menu-header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px; }
  .main-menu-block .main-menu-close {
    position: absolute;
    right: 16px;
    top: 16px; }

#menu-toggle {
  display: none; }
  #menu-toggle:checked ~ nav {
    right: 0; }

.promo {
  background: #F1E4E6;
  display: flex;
  flex-direction: row;
  font-weight: 900;
  min-height: 768px; }
  .promo .promo_image {
    width: 50%; }
    .promo .promo_image img {
      height: 100%; }
  .promo .promo_block .promo_text {
    /** розовая вертикальная линия */
    border-left: 12px #f16d7f solid;
    padding-left: 16px;
    margin-top: 45%;
    color: #222222; }
    .promo .promo_block .promo_text .promo_header {
      font-size: 48px; }
    .promo .promo_block .promo_text .promo_description {
      font-size: 32px; }
    .promo .promo_block .promo_text .promo_colored {
      color: #f16d7f; }

.catalog-header-block {
  background: #F1E4E6;
  display: flex;
  flex-direction: row;
  font-weight: 900;
  height: 148px;
  align-items: center;
  justify-content: space-between; }
  .catalog-header-block .catalog-header {
    text-transform: uppercase;
    color: #f16d7f;
    font-size: 24px; }
  .catalog-header-block .catalog-header-breadcrumbs {
    display: flex; }
    .catalog-header-block .catalog-header-breadcrumbs .catalog-header-breadcrumbs-list {
      display: flex;
      flex-direction: row;
      text-transform: uppercase;
      list-style-type: none;
      font-weight: 300;
      font-size: 14px; }
      .catalog-header-block .catalog-header-breadcrumbs .catalog-header-breadcrumbs-list :not(:last-child) :after {
        content: ' / ';
        white-space: pre; }
      .catalog-header-block .catalog-header-breadcrumbs .catalog-header-breadcrumbs-list :not(:last-child) a {
        font-weight: 300;
        color: black; }
      .catalog-header-block .catalog-header-breadcrumbs .catalog-header-breadcrumbs-list :last-child {
        color: #f16d7f;
        font-weight: 700; }

.news-block {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  gap: 30px; }
  .news-block .news {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .news-block .news h1 {
      font-size: 16px;
      font-weight: 400;
      color: white; }
    .news-block .news h2 {
      font-size: 24px;
      font-weight: 700;
      color: #f16d7f; }
  .news-block .news-row-1 {
    display: flex;
    gap: 30px;
    height: 260px; }
    .news-block .news-row-1 .news-1 {
      background: url("../img/news-1.jpg") center center; }
    .news-block .news-row-1 .news-2 {
      background: url("../img/news-2.jpg") center center; }
    .news-block .news-row-1 .news-3 {
      background: url("../img/news-3.jpg") center center; }
  .news-block .news-row-2 {
    height: 180px;
    width: 100%;
    background: url("../img/news-wide.jpg") center center; }

.catalog-add-to-cart-link {
  display: none;
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #FFFFFF;
  padding: 13px 15px 13px 13px;
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px; }
  .catalog-add-to-cart-link .product-cart-icon {
    padding-right: 12px; }
  .catalog-add-to-cart-link:hover {
    border: 1px solid black;
    background: white; }
    .catalog-add-to-cart-link:hover .product-cart-icon path {
      fill: black; }
    .catalog-add-to-cart-link:hover p {
      align-self: center;
      color: black; }

.catalog-block {
  margin-top: 96px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  /** Страница с каталогом */ }
  .catalog-block h1 {
    color: #222222;
    font-size: 30px; }
  .catalog-block h2 {
    color: #9f9f9f;
    font-size: 14px; }
  .catalog-block .catalog-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; }
    .catalog-block .catalog-cards .catalog-cards-margin-top {
      margin-top: 48px; }
    .catalog-block .catalog-cards .catalog-card {
      width: 360px;
      height: 581px;
      display: flex;
      flex-direction: column;
      background: #F8F8F8; }
      .catalog-block .catalog-cards .catalog-card .catalog-card-picture-link {
        display: inline-block;
        height: 100%; }
      .catalog-block .catalog-cards .catalog-card .catalog-image {
        width: 100%;
        height: 100%; }
      .catalog-block .catalog-cards .catalog-card .catalog-header {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: normal;
        font-size: 13px;
        color: black;
        margin-top: 25px;
        margin-left: 18px;
        margin-right: 18px; }
      .catalog-block .catalog-cards .catalog-card .catalog-description {
        font-size: 14px;
        font-weight: 300;
        color: #5d5d5d;
        margin-top: 12px;
        margin-left: 18px;
        margin-right: 18px; }
      .catalog-block .catalog-cards .catalog-card .catalog-price {
        color: #f16d7f;
        font-size: 16px;
        margin: 18px 18px 20px; }
    .catalog-block .catalog-cards .catalog-card:hover {
      position: relative; }
      .catalog-block .catalog-cards .catalog-card:hover .catalog-image {
        filter: brightness(0.5); }
      .catalog-block .catalog-cards .catalog-card:hover .catalog-add-to-cart-link {
        display: flex; }
        .catalog-block .catalog-cards .catalog-card:hover .catalog-add-to-cart-link p {
          align-self: center; }
  .catalog-block .catalog-browse-all {
    margin-top: 48px;
    margin-bottom: 95px;
    padding: 14px 38px;
    color: #f16d7f;
    background: white;
    border: 1px #f16d7f solid; }
  .catalog-block .catalog-block-header {
    margin-top: 51px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%; }
    .catalog-block .catalog-block-header details {
      display: flex;
      list-style-type: none;
      text-transform: uppercase;
      padding-top: 13px;
      padding-right: 28px;
      font-weight: 400; }
      .catalog-block .catalog-block-header details img {
        padding-left: 10px; }
    .catalog-block .catalog-block-header .catalog-block-filter-block {
      position: relative; }
    .catalog-block .catalog-block-header .catalog-block-header-filter {
      text-transform: uppercase;
      font-weight: 600;
      padding-left: 16px;
      padding-bottom: 16px; }
      .catalog-block .catalog-block-header .catalog-block-header-filter .category-filter-options {
        position: absolute;
        top: 32px;
        left: 0;
        z-index: 1;
        box-sizing: border-box;
        background-color: #fff;
        padding: 16px;
        min-width: 100%;
        list-style-type: none; }
        .catalog-block .catalog-block-header .catalog-block-header-filter .category-filter-options label {
          padding-left: 8px;
          color: #6F6E6E; }
      .catalog-block .catalog-block-header .catalog-block-header-filter path {
        fill: black; }
      .catalog-block .catalog-block-header .catalog-block-header-filter svg {
        padding-left: 10px; }
      .catalog-block .catalog-block-header .catalog-block-header-filter[open] {
        -webkit-box-shadow: 0px 0px 66px 0px #888888;
        -moz-box-shadow: 0px 0px 66px 0px #888888;
        box-shadow: 0px 0px 66px 0px #888888;
        color: #f16d7f; }
      .catalog-block .catalog-block-header .catalog-block-header-filter .catalog-block-header-filter-details ul {
        margin-top: 24px;
        list-style-type: none;
        font-size: 14px;
        font-weight: 400; }
        .catalog-block .catalog-block-header .catalog-block-header-filter .catalog-block-header-filter-details ul a, .catalog-block .catalog-block-header .catalog-block-header-filter .catalog-block-header-filter-details ul label {
          color: #6F6E6E; }
        .catalog-block .catalog-block-header .catalog-block-header-filter .catalog-block-header-filter-details ul label {
          margin-left: 10px; }
        .catalog-block .catalog-block-header .catalog-block-header-filter .catalog-block-header-filter-details ul :not(:last-child) {
          margin-bottom: 11px; }
        .catalog-block .catalog-block-header .catalog-block-header-filter .catalog-block-header-filter-details ul li {
          text-transform: none; }
      .catalog-block .catalog-block-header .catalog-block-header-filter .catalog-block-header-filter-details-margin-left {
        margin-left: 34px; }
      .catalog-block .catalog-block-header .catalog-block-header-filter .catalog-block-header-filter-options {
        display: flex;
        top: 0;
        left: 0;
        width: 360px; }
        .catalog-block .catalog-block-header .catalog-block-header-filter .catalog-block-header-filter-options .filter-category {
          display: inline-block;
          border-left: #f16d7f 11px solid;
          border-bottom: lightgray 1px solid;
          padding-top: 5px;
          padding-left: 11px;
          height: 37px;
          color: #6F6E6E; }
      .catalog-block .catalog-block-header .catalog-block-header-filter .catalog-block-header-size-filter-options {
        width: 79px; }
      .catalog-block .catalog-block-header .catalog-block-header-filter .catalog-block-header-filter-options[open] .filter-category {
        color: #f16d7f; }
  .catalog-block .catalog-block-paginator-block {
    margin-top: 48px;
    margin-bottom: 96px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px; }
    .catalog-block .catalog-block-paginator-block .catalog-block-paginator {
      display: flex;
      flex-direction: row;
      list-style-type: none; }
      .catalog-block .catalog-block-paginator-block .catalog-block-paginator .catalog-block-paginator-current a {
        color: #f16d7f; }
      .catalog-block .catalog-block-paginator-block .catalog-block-paginator li {
        margin-left: 18px;
        margin-right: 18px;
        font-weight: 300;
        color: #9f9f9f; }
        .catalog-block .catalog-block-paginator-block .catalog-block-paginator li a {
          color: #9f9f9f; }

.cart-block {
  margin-top: 96px;
  display: flex; }
  .cart-block .cart-content {
    display: flex;
    flex-direction: column;
    gap: 40px; }
    .cart-block .cart-content .cart-product-image {
      max-width: 262px; }
    .cart-block .cart-content .cart-card-picture-image {
      display: block; }
    .cart-block .cart-content .cart-card {
      -webkit-box-shadow: 16px 16px 37px -17px rgba(0, 0, 0, 0.71);
      -moz-box-shadow: 16px 16px 37px -17px rgba(0, 0, 0, 0.71);
      box-shadow: 16px 16px 37px -17px rgba(0, 0, 0, 0.71);
      display: flex; }
      .cart-block .cart-content .cart-card .cart-product-details {
        position: relative;
        margin-top: 22px;
        margin-left: 31px;
        margin-right: 22px; }
        .cart-block .cart-content .cart-card .cart-product-details .cart-product-title {
          text-transform: uppercase;
          color: #222222;
          font-size: 24px;
          width: 262px;
          margin-bottom: 42px;
          line-height: 29px;
          font-weight: normal; }
        .cart-block .cart-content .cart-card .cart-product-details .cart-details {
          display: flex;
          color: #575757;
          margin-bottom: 8px;
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          line-height: 26px; }
          .cart-block .cart-content .cart-card .cart-product-details .cart-details h3 {
            margin-right: 5px; }
          .cart-block .cart-content .cart-card .cart-product-details .cart-details .cart-details-quantity {
            width: 44px;
            height: 25px;
            font-size: 18px;
            font-weight: 400;
            color: #656565;
            text-align: center; }
        .cart-block .cart-content .cart-card .cart-product-details .cart-delete {
          position: absolute;
          top: 0;
          right: 0; }
    .cart-block .cart-content .cart-actions {
      margin-top: 72px;
      margin-bottom: 128px;
      display: flex;
      justify-content: space-between; }
  .cart-block .cart-contacts {
    margin-left: 128px; }
    .cart-block .cart-contacts .cart-contacts-form {
      display: flex;
      flex-direction: column;
      gap: 20px; }
      .cart-block .cart-contacts .cart-contacts-form h3 {
        text-transform: uppercase;
        color: #222222;
        font-weight: 300; }
      .cart-block .cart-contacts .cart-contacts-form .subscribe-form-email-group {
        display: flex;
        flex-direction: column;
        gap: 20px; }
        .cart-block .cart-contacts .cart-contacts-form .subscribe-form-email-group .cart-input-address {
          display: block;
          width: 360px;
          height: 45px;
          padding-left: 16px;
          padding-right: 16px;
          font-size: 13px; }
    .cart-block .cart-contacts .cart-summary {
      margin-top: 58px;
      background: #F5F3F3;
      min-height: 215px;
      padding: 40px 32px;
      display: flex;
      flex-direction: column;
      height: 214px;
      box-sizing: border-box; }
      .cart-block .cart-contacts .cart-summary h3, .cart-block .cart-contacts .cart-summary p {
        font-weight: 400; }
      .cart-block .cart-contacts .cart-summary .cart-total-hr {
        width: 275px;
        border: 1px #e2e2e2 solid; }
      .cart-block .cart-contacts .cart-summary .cart-summary-row {
        display: flex;
        justify-content: flex-end;
        color: #4a4a4a;
        gap: 10px; }
        .cart-block .cart-contacts .cart-summary .cart-summary-row h3, .cart-block .cart-contacts .cart-summary .cart-summary-row p {
          font-size: 11px; }
      .cart-block .cart-contacts .cart-summary .cart-summary-total-row {
        margin-top: 12px;
        margin-bottom: 21px;
        display: flex;
        justify-content: flex-end;
        color: #4a4a4a;
        gap: 10px; }
        .cart-block .cart-contacts .cart-summary .cart-summary-total-row h3, .cart-block .cart-contacts .cart-summary .cart-summary-total-row p {
          font-size: 16px; }
      .cart-block .cart-contacts .cart-summary .cart-proceed-button {
        display: flex;
        margin-top: 17px; }
        .cart-block .cart-contacts .cart-summary .cart-proceed-button a {
          font-weight: 300;
          background: #F16D7F;
          color: white;
          padding: 15px 42px;
          text-transform: uppercase; }
      .cart-block .cart-contacts .cart-summary .cart-summary-center {
        display: flex;
        flex-direction: column;
        align-items: center; }

.cart-button {
  padding: 17px 32px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  color: #222222;
  border: 1px solid #A4A4A4;
  display: flex;
  justify-content: center;
  align-items: center; }

.cart-button-small {
  padding: 10px 15px;
  max-width: 101px;
  font-size: 11px; }

.horizontal-group {
  display: flex; }
  .horizontal-group label {
    margin-left: 5px;
    margin-right: 20px; }

.registration-block {
  margin-top: 64px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: row;
  gap: 128px; }
  .registration-block .registration-block-form {
    color: #222222;
    font-size: 16px; }
    .registration-block .registration-block-form form {
      display: flex;
      flex-direction: column;
      gap: 20px; }
      .registration-block .registration-block-form form .register-input {
        display: block;
        width: 360px;
        height: 45px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 13px;
        border: 1px solid #A4A4A4; }
        .registration-block .registration-block-form form .register-input::placeholder {
          color: #b1b1b1; }
      .registration-block .registration-block-form form .register-submit {
        background-color: #f16d7f;
        color: white;
        font-size: 14px;
        font-weight: 400;
        padding: 16px 29px;
        text-transform: uppercase;
        max-width: 167px;
        border: 0; }
    .registration-block .registration-block-form .register-details {
      font-weight: 300;
      font-size: 13px;
      color: #B1B1B1;
      max-width: 360px; }
  .registration-block .registration-block-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    max-width: 650px; }
    .registration-block .registration-block-description h3 {
      font-weight: 300;
      font-size: 24px; }
    .registration-block .registration-block-description ul {
      list-style-position: inside;
      list-style-image: url("../img/tick.svg"); }
    .registration-block .registration-block-description li {
      margin-bottom: 20px; }
      .registration-block .registration-block-description li span {
        position: relative;
        left: 24px; }

.no-margin {
  margin: 0; }

summary {
  display: block; }
  summary::-webkit-details-marker {
    display: none; }

.clickable-button {
  color: #f16d7f;
  background: white; }

.clickable-button:hover {
  color: white;
  background: #f16d7f; }
  .clickable-button:hover path {
    fill: white; }

.warranties {
  background: #222224;
  height: 340px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  gap: 30px;
  padding-top: 100px; }
  .warranties .warranty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; }
    .warranties .warranty img {
      height: 45px;
      width: 100%; }
    .warranties .warranty h1 {
      text-transform: capitalize; }
    .warranties .warranty p {
      font-weight: 300; }

.italic {
  font-style: italic; }

.pre-footer-block {
  background: url("../img/footer-background.jpg") no-repeat center;
  height: 448px;
  display: flex; }
  .pre-footer-block .jason-statham {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; }
    .pre-footer-block .jason-statham img {
      padding-top: 86px;
      width: 96px;
      height: 96px; }
    .pre-footer-block .jason-statham p {
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      max-width: 360px;
      padding-top: 30px; }
  .pre-footer-block .subscribe-form {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .pre-footer-block .subscribe-form h1, .pre-footer-block .subscribe-form h2 {
      text-transform: uppercase; }
    .pre-footer-block .subscribe-form h1 {
      font-weight: 700; }
    .pre-footer-block .subscribe-form h2 {
      font-weight: 400; }
    .pre-footer-block .subscribe-form .subscribe-form-email-group {
      margin-top: 32px;
      display: flex; }
      .pre-footer-block .subscribe-form .subscribe-form-email-group .input-email {
        width: 250px;
        height: 50px;
        font-size: 14px;
        border: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        background: #e1e1e1;
        padding: 7px 22px; }
      .pre-footer-block .subscribe-form .subscribe-form-email-group .subscribe-button {
        width: 100px;
        font-weight: 400;
        font-size: 14px;
        color: white;
        background: #f16d7f;
        border: 0;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        padding-top: 7px;
        padding-bottom: 7px; }

.footer {
  height: 80px;
  background: #222224;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .footer .social-buttons {
    display: flex;
    gap: 8px; }
    .footer .social-buttons .social-button {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center; }

.colored-text {
  color: #f16d7f; }

@media (min-width: 300px) and (max-width: 769px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box; }

  .promo {
    min-height: 368px;
    height: 368px; }
    .promo .promo_image {
      width: 40%;
      display: flex;
      justify-content: center; }
    .promo .promo_block {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .promo .promo_block .promo_text {
        margin-top: 0; }
      .promo .promo_block .promo_header {
        font-size: 44px;
        font-weight: 900; }
      .promo .promo_block .promo_description {
        font-size: 24px;
        font-weight: 700; }

  .news-block {
    margin-top: 0;
    padding: 18px;
    gap: 18px; }
    .news-block .news {
      background-size: cover !important; }
    .news-block .news-row-1 {
      gap: 18px;
      max-height: 168px; }
    .news-block .news-row-2 {
      max-height: 116px; }

  .catalog-block {
    margin-top: 155px; }
    .catalog-block h1 {
      font-weight: 400;
      font-size: 30px; }
    .catalog-block .catalog-cards {
      margin-top: 74px; }

  .warranties {
    flex-direction: column;
    align-items: center;
    min-height: 610px;
    padding-top: 64px;
    padding-bottom: 64px; }
    .warranties .warranty {
      max-width: 360px;
      color: #fbfbfb; }
      .warranties .warranty h1 {
        font-weight: 400;
        font-size: 20px; }
      .warranties .warranty p {
        text-align: center; }

  .pre-footer-block {
    flex-direction: column;
    align-items: center;
    min-height: 693px;
    background-size: auto 100%;
    background-position-x: -425px; }

  .footer {
    box-sizing: border-box;
    padding: 32px; } }

/*# sourceMappingURL=main.css.map */
