/** Google-шрифт Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital;wght@300;400;900&display=swap');

@import 'vars';

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  height: 75px;
  background: $header_gray;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .main_menu {
    max-width: 1100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .main_menu_left_buttons {
      a {
        margin-right: 41px;
      }
    }

    .main_menu_right_buttons {
      a {
        margin-left: 33px;
      }

      .event_notification {
        background: $pink_text;
        border-radius: 50%;
        color: white;
        position: absolute;
        top: 0;
        right: -8px;
        width: 16px;
        height: 16px;
        text-align: center;
        font-size: 12px;
      }
    }
  }
}

.promo {
  background: $promo_pink;
  display: flex;
  flex-direction: row;
  font-weight: 900;

  .promo_image {
    width: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .promo_block {
    .promo_text {
      /** розовая вертикальная линия */
      border-left: 12px $pink_text solid;
      padding-left: 16px;
      margin-top: 45%;

      color: $header_gray;

      .promo_header {
        font-size: 48px;
      }

      .promo_description {
        font-size: 32px;
      }

      .promo_colored {
        color: $pink_text;
      }
    }
  }
}

.catalog-header-block {
  background: $promo_pink;
  display: flex;
  flex-direction: row;
  font-weight: 900;
  height: 148px;

  align-items: center;
  justify-content: space-between;

  .catalog-header {
    text-transform: uppercase;
    color: $pink_text;
    font-size: 24px;
  }

  .catalog-header-breadcrumbs {
    display: flex;

    .catalog-header-breadcrumbs-list {
      display: flex;
      flex-direction: row;
      text-transform: uppercase;
      list-style-type: none;
      font-weight: 300;
      font-size: 14px;

      :not(:last-child) {
        :after {
          content: ' / ';
          white-space: pre;
        }

        a {
          font-weight: 300;
          color: black;
        }
      }

      :last-child {
        color: $pink_text;
        font-weight: 700;
      }
    }
  }
}

.news-block {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  gap: 30px;

  .news {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 16px;
      font-weight: 400;
      color: white;
    }

    h2 {
      font-size: 24px;
      font-weight: 700;
      color: $pink_text;
    }
  }

  .news-row-1 {
    display: flex;
    gap: 30px;
    height: 260px;

    .news-1 {
      background: url("../img/news-1.jpg") center center;
    }

    .news-2 {
      background: url("../img/news-2.jpg") center center;
    }

    .news-3 {
      background: url("../img/news-3.jpg") center center;
    }
  }

  .news-row-2 {
    height: 180px;
    width: 100%;
    background: url("../img/news-wide.jpg") center center;
  }
}

.catalog-add-to-cart-link {
  display: none;

  position: absolute;
  top: 188px;
  left: 111px;

  border: 1px solid #FFFFFF;
  padding: 13px 15px 13px 13px;
  color: white;

  text-decoration: none;
  font-weight: normal;
  font-size: 14px;

  .product-cart-icon {
    padding-right: 12px;
  }

  &:hover {
    border: 1px solid black;
    background: white;

    .product-cart-icon path {
      fill: black;
    }

    p {
      align-self: center;
      color: black;
    }
  }
}

.catalog-block {
  margin-top: 96px;

  font-weight: normal;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: $header_gray;
    font-size: 30px;
  }

  h2 {
    color: $header_light_gray;
    font-size: 14px;
  }

  .catalog-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .catalog-cards-margin-top {
      margin-top: 48px;
    }

    .catalog-card {
      width: 360px;
      height: 581px;
      display: flex;
      flex-direction: column;
      background: #F8F8F8;

      .catalog-card-picture-link {
        display: inline-block;
        height: 100%;
      }

      .catalog-image {
        width: 100%;
        height: 100%;
      }

      .catalog-header {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: normal;
        font-size: 13px;
        color: black;
        margin-top: 25px;
        margin-left: 18px;
        margin-right: 18px;
      }

      .catalog-description {
        font-size: 14px;
        font-weight: 300;
        color: #5d5d5d;
        margin-top: 12px;
        margin-left: 18px;
        margin-right: 18px;
      }

      .catalog-price {
        color: $pink_text;
        font-size: 16px;

        margin: 18px 18px 20px;
      }
    }

    .catalog-card:hover {
      position: relative;

      .catalog-image {
        filter: brightness(0.5);
      }

      .catalog-add-to-cart-link {
        display: flex;

        p {
          align-self: center;
        }
      }
    }
  }

  .catalog-browse-all {
    margin-top: 48px;
    margin-bottom: 95px;

    padding: 14px 38px;
    color: $pink_text;
    background: white;
    border: 1px $pink_text solid;
  }

  /** Страница с каталогом */
  .catalog-block-header {
    margin-top: 51px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;

    details {
      display: flex;
      list-style-type: none;
      text-transform: uppercase;
      padding-top: 13px;
      padding-right: 28px;
      font-weight: 400;

      img {
        padding-left: 10px;
      }
    }

    .catalog-block-filter-block {
      position: relative;
    }

    .catalog-block-header-filter { // details
      text-transform: uppercase;
      font-weight: 600;
      padding-left: 16px;
      padding-bottom: 16px;

      .category-filter-options {
        position: absolute;
        top: 32px;
        left: 0;
        z-index: 1;
        box-sizing: border-box;
        background-color: #fff;
        padding: 16px;
        min-width: 100%;

        list-style-type: none;

        label {
          padding-left: 8px;
          color: #6F6E6E;
        }
      }

      path {
        fill: black;
      }

      svg {
        padding-left: 10px;
      }

      &[open] {
        -webkit-box-shadow: 0px 0px 66px 0px rgba(136, 136, 136, 1);
        -moz-box-shadow: 0px 0px 66px 0px rgba(136, 136, 136, 1);
        box-shadow: 0px 0px 66px 0px rgba(136, 136, 136, 1);

        color: $pink_text;
      }

      .catalog-block-header-filter-details {
        ul {
          margin-top: 24px;
          list-style-type: none;
          font-size: 14px;
          font-weight: 400;

          a,label {
            color: #6F6E6E;
          }

          label {
            margin-left: 10px;
          }

          :not(:last-child) {
            margin-bottom: 11px;
          }

          li {
            text-transform: none;
          }
        }
      }

      .catalog-block-header-filter-details-margin-left {
        margin-left: 34px;
      }

      .catalog-block-header-filter-options {
        display: flex;
        top: 0;
        left: 0;
        width: 360px;

        .filter-category {
          display: inline-block;
          border-left: $pink_text 11px solid;
          border-bottom: lightgray 1px solid;
          padding-top: 5px;
          padding-left: 11px;
          height: 37px;
          color: #6F6E6E;
        }
      }

      .catalog-block-header-size-filter-options {
        width: 79px;
      }

      .catalog-block-header-filter-options[open] {
        .filter-category {
          color: $pink_text;
        }
      }
    }
  }

  .catalog-block-paginator-block {
    margin-top: 48px;
    margin-bottom: 96px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;

    .catalog-block-paginator {
      display: flex;
      flex-direction: row;

      list-style-type: none;

      .catalog-block-paginator-current a {
        color: $pink_text;
      }

      li {
        margin-left: 18px;
        margin-right: 18px;
        font-weight: 300;
        color: $header_light_gray;

        a {
          color: $header_light_gray;
        }
      }
    }
  }
}

.cart-block {
  margin-top: 96px;
  display: flex;

  .cart-content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .cart-product-image {
      max-width: 262px;
    }

    .cart-card-picture-image {
      display: block;
    }

    .cart-card {
      -webkit-box-shadow: 16px 16px 37px -17px rgba(0, 0, 0, 0.71);
      -moz-box-shadow: 16px 16px 37px -17px rgba(0, 0, 0, 0.71);
      box-shadow: 16px 16px 37px -17px rgba(0, 0, 0, 0.71);

      display: flex;

      .cart-product-details {
        position: relative;

        margin-top: 22px;
        margin-left: 31px;
        margin-right: 22px;

        .cart-product-title {
          text-transform: uppercase;
          color: #222222;
          font-size: 24px;
          width: 262px;
          margin-bottom: 42px;
          line-height: 29px;
          font-weight: normal;
        }

        .cart-details {
          display: flex;
          color: #575757;
          margin-bottom: 8px;

          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          line-height: 26px;

          h3 {
            margin-right: 5px;
          }

          .cart-details-quantity {
            width: 44px;
            height: 25px;
            font-size: 18px;
            font-weight: 400;
            color: #656565;
            text-align: center;
          }
        }

        .cart-delete {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }

    .cart-actions {
      margin-top: 72px;
      margin-bottom: 128px;
      display: flex;
      justify-content: space-between;
    }
  }

  .cart-contacts {
    margin-left: 128px;

    .cart-contacts-form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h3 {
        text-transform: uppercase;
        color: #222222;
        font-weight: 300;
      }

      .subscribe-form-email-group {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .cart-input-address {
          display: block;
          width: 360px;
          height: 45px;
          padding-left: 16px;
          padding-right: 16px;
          font-size: 13px;
        }
      }
    }

    .cart-summary {
      margin-top: 58px;
      background: #F5F3F3;
      min-height: 215px;
      padding: 40px 32px;
      display: flex;
      flex-direction: column;
      height: 214px;
      box-sizing: border-box;

      h3, p {
        font-weight: 400;
      }

      .cart-total-hr {
        width: 275px;
        border: 1px #e2e2e2 solid;
      }

      .cart-summary-row {
        display: flex;
        justify-content: flex-end;
        color: #4a4a4a;
        gap: 10px;

        h3, p {
          font-size: 11px;
        }
      }

      .cart-summary-total-row {
        margin-top: 12px;
        margin-bottom: 21px;

        display: flex;
        justify-content: flex-end;
        color: #4a4a4a;
        gap: 10px;

        h3, p {
          font-size: 16px;
        }
      }

      .cart-proceed-button {
        display: flex;
        margin-top: 17px;

        a {
          font-weight: 300;
          background: #F16D7F;
          color: white;
          padding: 15px 42px;
          text-transform: uppercase;
        }
      }

      .cart-summary-center {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.cart-button {
  padding: 17px 32px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;

  color: #222222;

  border: 1px solid #A4A4A4;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-button-small {
  padding: 10px 15px;
  max-width: 101px;
  font-size: 11px;
}

.horizontal-group {
  display: flex;

  label {
    margin-left: 5px;
    margin-right: 20px;
  }
}

.registration-block {
  margin-top: 64px;
  margin-bottom: 96px;

  display: flex;
  flex-direction: row;
  gap: 128px;

  .registration-block-form {
    color: #222222;
    font-size: 16px;

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .register-input {
        display: block;
        width: 360px;
        height: 45px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 13px;
        border: 1px solid #A4A4A4;

        &::placeholder {
          color: #b1b1b1;
        }
      }

      .register-submit {
        background-color: $pink_text;
        color: white;
        font-size: 14px;
        font-weight: 400;
        padding: 16px 29px;
        text-transform: uppercase;
        max-width: 167px;
        border: 0;
      }
    }

    .register-details {
      font-weight: 300;
      font-size: 13px;
      color: #B1B1B1;
      max-width: 360px;
    }
  }

  .registration-block-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    max-width: 650px;

    h3 {
      font-weight: 300;
      font-size: 24px;
    }

    ul {
      list-style-position: inside;
      list-style-image: url("../img/tick.svg");
    }

    li {
      margin-bottom: 20px;

      span {
        position: relative;
        left: 24px;
      }
    }
  }
}

.no-margin {
  margin: 0;
}

summary {
  display: block;

  &::-webkit-details-marker {
    display: none;
  }
}

.clickable-button {
  color: $pink_text;
  background: white;
}

.clickable-button:hover {
  color: white;
  background: $pink_text;

  path {
    fill: white;
  }
}

.warranties {
  background: $footer_black;
  height: 340px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  gap: 30px;
  padding-top: 100px;

  .warranty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    img {
      height: 45px;
      width: 100%;
    }

    h1 {
      text-transform: capitalize;
    }

    p {
      font-weight: 300;
    }
  }
}

.italic {
  font-style: italic;
}

.pre-footer-block {
  background: url("../img/footer-background.jpg") no-repeat center;
  height: 448px;
  display: flex;

  .jason-statham {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    img {
      padding-top: 86px;
      width: 96px;
      height: 96px;
    }

    p {
      font-weight: 400;
      font-size: 20px;
      text-align: center;

      max-width: 360px;
      padding-top: 30px;
    }
  }

  .subscribe-form {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1, h2 {
      text-transform: uppercase;
    }

    h1 {
      font-weight: 700;
    }

    h2 {
      font-weight: 400;
    }

    .subscribe-form-email-group {
      margin-top: 32px;
      display: flex;

      .input-email {
        width: 250px;
        height: 50px;
        font-size: 14px;

        border: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;

        background: #e1e1e1;
        padding: 7px 22px;
      }

      .subscribe-button {
        width: 100px;
        font-weight: 400;
        font-size: 14px;
        color: white;
        background: $pink_text;

        border: 0;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;

        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
  }
}

.footer {
  height: 80px;
  background: $footer_black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .social-buttons {
    display: flex;
    gap: 8px;

    .social-button {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.colored-text {
  color: $pink_text;
}