@media (max-width: 475px) {
  .header {
    padding: 16px;
    box-sizing: border-box;
  }

  .main-menu-block {
    width: 75vw;
    right: -100vw;
  }

  .no-mobile {
    display: none;
  }

  .promo {
    min-height: 363px;

    .promo_image {
      display: none;
    }

    .promo_block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-height: 363px;
      width: 100%;

      .promo_text {
        margin-top: 0;
        max-width: 236px;
      }

      .promo_header {
        font-weight: 900;
        font-size: 38px;
      }

      .promo_description {
        font-weight: 700;
        font-size: 20px;
      }
    }
  }

  .news-block {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;

    .news-row-1 {
      flex-direction: column;
      height: 100%;
    }

    .news {
      min-height: 247px;
    }

    .news-row-2 {
      min-height: 111px;
      height: 111px;
    }
  }

  .catalog-block {
    margin-top: 64px;

    .catalog-cards {
      margin-top: 64px;
    }
  }

  .pre-footer-block {
    gap: 59px;
    height: 550px;

    .jason-statham {
      p {
        font-size: 18px;
        width: 343px;
      }
    }

    .subscribe-form {
      padding-top: 0 !important;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        text-align: center;
      }

      .input-email {
        width: 200px !important;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 40px;
    height: 143px;
  }

  // catalog.html
  .catalog-header-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

  }

  .catalog-block, .catalog-cards {
    margin-top: 0 !important;
  }

  .catalog-block-filter-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .catalog-block-header-filter {
    padding-left: 0 !important;

    summary {
      white-space: nowrap;

      p {
        display: none;
      }

      svg {
        width: 38px;
      }
    }
  }

  .catalog-block-filter-right {
    font-size: 12px;
    font-weight: 400;
  }

  .catalog-block-paginator-block {
    gap: 10px;
    margin-top: 40px !important;
    margin-bottom: 64px !important;
  }

  .cart-block {
    flex-direction: column;

    .cart-product-image {
      width: 144px;
    }

    .cart-product-title {
      max-width: 144px;
      font-size: 16px !important;
      margin-bottom: 26px !important;
    }

    .cart-product-details {
      margin-top: 13px !important;
      margin-left: 16px !important;
      margin-right: 16px !important;
      width: 100%;
      gap: 4px;
    }

    .cart-details {
      h3,p {
        font-size: 14px !important;
      }
    }

    .cart-delete {
      svg {
        width: 12px;
        height: 12px;
      }
    }

    .cart-content {
      padding: 16px;
    }

    .cart-actions {
      justify-content: center !important;
      gap: 48px;
    }
  }

  .cart-contacts {
    margin-left: 16px !important;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;

    .cart-input-address {
      width: calc(90vw - 32px) !important;
    }

    .cart-summary {
      flex-grow: 1;
      margin-top: 43px !important;
      max-width: 90vw;
    }

    margin-bottom: 140px;
  }


  .registration-block {
    margin-left: 16px;
    margin-right: 16px;
    gap: 40px;
    flex-direction: column;

    .registration-block-form, .registration-block-description {
      h3, p, li {
        font-size: 16px !important;
      }

      li {
        width: 100vw !important;
      }

      max-width: calc(100vw - 32px);
    }
  }

  .register-input {
    width: auto !important;
  }
}
