/** Google-шрифт Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital;wght@300;400;900&display=swap');

@import 'vars';

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  height: 75px;
  background: $header_gray;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .main_menu {
    max-width: 1100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .main_menu_left_buttons {
      a {
        margin-right: 41px;
      }
    }

    .main_menu_right_buttons {
      a {
        margin-left: 33px;
      }

      .event_notification {
        background: $pink_text;
        border-radius: 50%;
        color: white;
        position: absolute;
        top: 0;
        right: -8px;
        width: 16px;
        height: 16px;
        text-align: center;
        font-size: 12px;
      }
    }
  }
}

.promo {
  background: $promo_pink;
  display: flex;
  flex-direction: row;
  font-weight: 900;

  .promo_image {
    width: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .promo_block {
    .promo_text {
      /** розовая вертикальная линия */
      border-left: 12px $pink_text solid;
      padding-left: 16px;
      margin-top: 45%;

      color: $header_gray;

      .promo_header {
        font-size: 48px;
      }

      .promo_description {
        font-size: 32px;
      }

      .promo_colored {
        color: $pink_text;
      }
    }
  }
}

.catalog-header-block {
  background: $promo_pink;
  display: flex;
  flex-direction: row;
  font-weight: 900;
  height: 148px;

  align-items: center;
  justify-content: space-between;

  .catalog-header {
    text-transform: uppercase;
    color: $pink_text;
    font-size: 24px;
  }

  .catalog-header-breadcrumbs {
    display: flex;

    .catalog-header-breadcrumbs-list {
      display: flex;
      flex-direction: row;
      text-transform: uppercase;
      list-style-type: none;
      font-weight: 300;
      font-size: 14px;

      :not(:last-child) {
        :after {
          content: ' / ';
          white-space: pre;
        }

        a {
          font-weight: 300;
          color: black;
        }
      }

      :last-child {
        color: $pink_text;
        font-weight: 700;
      }
    }
  }
}

.news-block {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  gap: 30px;

  .news {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 16px;
      font-weight: 400;
      color: white;
    }

    h2 {
      font-size: 24px;
      font-weight: 700;
      color: $pink_text;
    }
  }

  .news-row-1 {
    display: flex;
    gap: 30px;
    height: 260px;

    .news-1 {
      background: url("../img/news-1.jpg") center center;
    }

    .news-2 {
      background: url("../img/news-2.jpg") center center;
    }

    .news-3 {
      background: url("../img/news-3.jpg") center center;
    }
  }

  .news-row-2 {
    height: 180px;
    width: 100%;
    background: url("../img/news-wide.jpg") center center;
  }
}

.catalog-block {
  margin-top: 96px;

  font-weight: normal;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: $header_gray;
    font-size: 30px;
  }

  h2 {
    color: $header_light_gray;
    font-size: 14px;
  }

  .catalog-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .catalog-cards-margin-top {
      margin-top: 48px;
    }

    .catalog-card {
      width: 360px;
      height: 581px;
      display: flex;
      flex-direction: column;
      background: #F8F8F8;

      .catalog-card-picture-link {
        display: inline-block;
        height: 100%;
      }

      .catalog-image {
        width: 100%;
        height: 100%;
      }

      .catalog-header {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: normal;
        font-size: 13px;
        color: black;
        margin-top: 25px;
        margin-left: 18px;
        margin-right: 18px;
      }

      .catalog-description {
        font-size: 14px;
        font-weight: 300;
        color: #5d5d5d;
        margin-top: 12px;
        margin-left: 18px;
        margin-right: 18px;
      }

      .catalog-price {
        color: $pink_text;
        font-size: 16px;

        margin: 18px 18px 20px;
      }

      .catalog-add-to-cart-link {
        display: none;

        position: absolute;
        top: 188px;
        left: 111px;


        border: 1px solid #FFFFFF;
        padding: 13px 15px 13px 13px;
        color: white;

        text-decoration: none;
        font-weight: normal;
        font-size: 14px;

        .product-cart-icon {
          padding-right: 12px;
        }
      }
    }

    .catalog-card:hover {
      position: relative;

      .catalog-image {
        filter: brightness(0.5);
      }

      .catalog-add-to-cart-link {
        display: flex;

        p {
          align-self: center;
        }
      }
    }
  }

  .catalog-add-to-cart-link:hover {
    border: 1px solid black;
    background: white;

    .product-cart-icon path {
      fill: black;
    }

    p {
      align-self: center;
      color: black;
    }
  }

  .catalog-browse-all {
    margin-top: 48px;
    margin-bottom: 95px;

    padding: 14px 38px;
    color: $pink_text;
    background: white;
    border: 1px $pink_text solid;
  }

  /** Страница с каталогом */
  .catalog-block-header {
    margin-top: 51px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .catalog-block-header-filter {
      text-transform: uppercase;
      font-weight: 600;
      width: 33%;

      path {
        fill: black;
      }

      svg {
        padding-left: 10px;
      }
    }

    .catalog-block-header-sort-fields {
      width: 33%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-grow: 1;

      ul {
        display: flex;
        list-style-type: none;
        text-transform: uppercase;

        li {
          padding-right: 28px;
          font-weight: 400;

          img {
            padding-left: 10px;
          }
        }
      }
    }
  }

  .catalog-block-paginator-block {
    margin-top: 48px;
    margin-bottom: 96px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;

    .catalog-block-paginator {
      display: flex;
      flex-direction: row;

      list-style-type: none;

      .catalog-block-paginator-current a {
        color: $pink_text;
      }

      li {
        margin-left: 18px;
        margin-right: 18px;
        font-weight: 300;
        color: $header_light_gray;

        a {
          color: $header_light_gray;
        }
      }
    }
  }
}

.no-margin {
  margin: 0;
}

.clickable-button {
  color: $pink_text;
  background: white;
}

.clickable-button:hover {
  color: white;
  background: $pink_text;

  path {
    fill: white;
  }
}

.warranties {
  background: $footer_black;
  height: 340px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  gap: 30px;
  padding-top: 100px;

  .warranty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    img {
      height: 45px;
      width: 100%;
    }

    h1 {
      text-transform: capitalize;
    }

    p {
      font-weight: 300;
    }
  }
}

.italic {
  font-style: italic;
}

.pre-footer-block {
  background: url("../img/footer-background.jpg") no-repeat center;
  height: 448px;
  display: flex;

  .jason-statham {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    img {
      padding-top: 86px;
      width: 96px;
      height: 96px;
    }

    p {
      font-weight: 400;
      font-size: 20px;
      text-align: center;

      max-width: 360px;
      padding-top: 30px;
    }
  }

  .subscribe-form {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1, h2 {
      text-transform: uppercase;
    }

    h1 {
      font-weight: 700;
    }

    h2 {
      font-weight: 400;
    }

    .subscribe-form-email-group {
      margin-top: 32px;
      display: flex;

      .input-email {
        width: 250px;
        height: 50px;
        font-size: 14px;

        border: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;

        background: #e1e1e1;
        padding: 7px 22px;
      }

      .subscribe-button {
        width: 100px;
        font-weight: 400;
        font-size: 14px;
        color: white;
        background: $pink_text;

        border: 0;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;

        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
  }
}

.footer {
  height: 80px;
  background: $footer_black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .social-buttons {
    display: flex;
    gap: 8px;

    .social-button {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}