@media (min-width: 476px) and (max-width: 769px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }

  .promo {
    min-height: 368px;
    height: 368px;

    .promo_image {
      width: 40%;
      display: flex;
      justify-content: center;
    }

    .promo_block {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .promo_text {
        margin-top: 0;
      }

      .promo_header {
        font-size: 44px;
        font-weight: 900;
      }

      .promo_description {
        font-size: 24px;
        font-weight: 700;
      }
    }
  }

  .news-block {
    margin-top: 0;
    padding: 18px;
    gap: 18px;

    .news {
      background-size: cover !important;
    }

    .news-row-1 {
      gap: 18px;
      max-height: 168px;
    }

    .news-row-2 {
      max-height: 116px;
    }
  }

  .catalog-block {
    margin-top: 155px;

    h1 {
      font-weight: 400;
      font-size: 30px;
    }

    .catalog-cards {
      margin-top: 74px;
    }
  }
}

@media (max-width: 1024px) {
  .warranties {
    flex-direction: column;
    align-items: center;
    min-height: 610px;
    padding-top: 64px;
    padding-bottom: 64px;

    .warranty {
      max-width: 360px;
      color: #fbfbfb;

      h1 {
        font-weight: 400;
        font-size: 20px;
      }

      p {
        text-align: center;
      }
    }
  }

  .pre-footer-block {
    flex-direction: column;
    align-items: center;
    min-height: 693px;
    background-size: auto 100%;
    background-position-x: -425px;
  }

  .footer {
    box-sizing: border-box;
    padding: 32px;
  }

  // catalog.html
  .catalog-header-block {
    padding: 16px;
  }

  .catalog-block {
    margin-top: 0;

    .catalog-block-header {
      margin-top: 24px;
      margin-bottom: 24px;
      justify-content: space-between;
    }

    .catalog-cards {
      margin-top: 0;
      gap: 16px;
    }
  }

  .cart-block {
    flex-direction: column;

    .cart-content {
      padding: 16px;
    }

    .cart-actions {
      justify-content: center !important;
      gap: 48px;
    }
  }

  .cart-contacts {
    margin-left: 16px !important;
    display: flex;
    gap: 16px;
    justify-content: space-between;

    .cart-summary {
      flex-grow: 1;
      margin-top: 43px !important;
    }

    margin-bottom: 140px;
  }

  .registration-block {
    margin-left: 16px;
    margin-right: 16px;
    gap: 22px;

    .registration-block-form, .registration-block-description {
      h3, p, li {
        font-size: 16px !important;
      }

      li {
        width: calc(50vw - 64px);
      }

      max-width: 50vw;
    }
  }
}